@import "./mixin.scss";
@import './colors.scss';
.footer {
  padding: 40px 0 50px 0;
  background: #111115;
  &__top {
    @include stretch(space-between, auto);
    margin-bottom: 45px;
  }
  &__top-right {
    display: block;
    label {
      display: block;
      font-size: 24px;
      line-height: 29px;
      color: #ffffff;
      margin-bottom: 14px;
    }
  }
  &__logo {
    font-weight: 300;
    font-size: 19.0145px;
    line-height: 120%;
    text-align: center;
    color: #ffffff;
    border: 0.5px solid #ffffff;
    border-radius: 2px;
    position: relative;
    display: flex;
    width: 82px;
    height: 52px;
    margin-bottom: 69px;
    #bamboo {
      position: absolute;
      left: 8px;
      top: 22px;
    }
  }
  &__entry {
    @include stretch(auto, center);
    input {
      padding-left: 10px;
      width: 228px;
      height: 42px;
      background: transparent;
      border-radius: 2px;
      outline: none;
      border: 0.7px solid #f9804b;
      margin-right: 9px;
      color: #ffffff;
      &::placeholder {
        font-family: Roboto;
        font-size: 16px;
        line-height: 22px;
        color: #bdbdbd;
      }
    }
    button {
      background: #f1f3f2;
      border: 1px solid #333b41;
      border-radius: 5px;
      width: 129px;
      height: 42px;
      font-family: "Roboto";
      font-size: 16px;
      line-height: 22px;
      color: #000000;
      transition: 0.2s;
      &:hover {
        border: 1px solid $hover-link;
        color: $hover-link;
      }
    }
  }

  &__btn {
    @include btn;
    border-radius: 5px;
    padding-left: 2px;
  }
  &__bottom {
    @include stretch(space-between, flex-end);
  }
  &__bottom-left {
    li {
      margin-bottom: 10px;
      &:last-child {
        margin-bottom: 0px;
      }
      a {
        display: flex;
        transition: 0.2s;
        &:hover {
          color: $hover-link;
          .footer__social {
            background: $hover-link;
          }
        }
      }
    }
  }
  &__social {
    width: 26px;
    height: 26px;
    border-radius: 100%;
    @include stretch(center, center);
    background: rgba(196, 196, 196, 0.5);
    margin-right: 12px;
  }
  &__bottom-center {
    padding-left: 174px;
  }
  &__bottom-right {
    font-weight: 100;
    line-height: 21px;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    a {
      line-height: 21px;
      transition: 0.2s;
      &:first-child {
        margin-bottom: 10px;
      }
      &:hover {
        color: $hover-link;
      }
    }
  }
}
@media screen and (max-width: 1599px) {
  .footer {
    &__top {
      margin-bottom: 47px;
    }
    &__bottom-center {
      padding-left: 139px;
    }
    &__top-right {
      padding-right: 33px;
    }
    &__bottom-right {
      margin-bottom: 2px;
      margin-right: 2px;
    }
  }
}
@media screen and (max-width: 999px) {
  .footer {
    position: relative;
    padding: 13px 0px;
    &__top {
      margin-bottom: 67px;
    }
    &__top-right {
      display: none;
    }
    &__bottom-center {
      display: flex !important;
      padding: 0;
    }
    &__bottom-left {
      position: absolute;
      top: 12px;
      right: 7px;
      span {
        display: none;
      }
      li {
        margin-bottom: 20px;
      }
    }
    &__logo {
      margin-bottom: 32px;
    }
    &__bottom-center {
      li {
        margin: 0 !important;
        margin-right: 37px !important;
      }
    }
  }
}
@media screen and (max-width: 639px) {
  .footer {
    padding: 21px 0;
    &__logo {
      width: 128px;
      border: none;
      margin: 0 auto;
      margin-bottom: 57px;
      #bamboo {
        left: 72px;
        top: -4px;
      }
    }
    &__top {
      margin-bottom: 28px;
    }
    &__top-left {
      width: 100%;
    }
    &__button{
      @include stretch(center, center);
    }
    &__bottom-left {
      display: flex;
      top: 73px;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    &__bottom {
      flex-direction: column-reverse;
    }
    &__bottom-left {
      top: 86px;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 200px;
      li {
        margin-bottom: 0px;
        margin-right: 19px;
        &:last-child {
          margin-right: 0;
        }
      }
    }
    &__bottom-center {
      justify-content: space-between;
      padding: 0 11px;
      width: 100%;
      li {
        margin: 0 !important;
        margin-right: 0px !important;
      }
    }
    &__bottom-right {
      margin-bottom: 27px;
      font-size: 15px;
    }
  }
}
