@import "./mixin.scss";
.pick {
  background: linear-gradient(
      315.75deg,
      rgba(254, 210, 144, 0.7) 30.06%,
      #febdab 100.95%,
      rgba(254, 210, 144, 0.7) 106.36%
    ),
    linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    ),
    linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    );
  opacity: 0.9;
  padding: 69px 0 100px 0;
  &__block {
    background: rgba(253, 253, 255, 0.52);
    backdrop-filter: blur(2px);
    border-radius: 20px;
    padding: 41px 0px 59px 0px;
  }
  &__title {
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
    text-align: center;
    color: #fe9013;
    margin-bottom: 30px;
  }
  &__know {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 40px;
    padding-left: 99px;
  }
  &__during {
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    margin-bottom: 10px;
    padding-left: 99px;
  }
  &__even {
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    margin-bottom: 60px;
    max-width: 965px;
    padding-left: 99px;
    span{
        border-bottom: 1px solid $hover-text;
    }
  }
  &__title-min {
    text-align: center;
    font-weight: 400;
    font-size: 36px;
    line-height: 47px;
    margin-bottom: 40px;
  }
  &__render {
    display: flex;
    justify-content: center;
    margin-bottom: 62px;
    align-items: start;
  }
  &__icon {
    width: 168px;
    height: 168px;
    border: 1px solid $hover-text;
    background: #ffffff;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }
  &__vector {
    margin: 59px 30px;
  }
  &__text {
    max-width: 168px;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #333b41;
  }
  &__button {
    display: flex;
    justify-content: center;
  }
  &__btn {
    @include btn;
  }
}
