* {
  box-sizing: border-box;
  text-size-adjust: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
li,
body,
input,
button {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}
ul,
li {
  list-style-type: none;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 26px;
  min-width: 320px;
  position: relative;
  overflow-x: hidden;
  background-color: #fff;
}
input {
  outline: none;
}
button {
  cursor: pointer;
  outline: none;
  background: transparent;
  border: none;
}
.container {
  max-width: 1180px;
  padding: 0 10px;
  margin: 0 auto;
}

.header {
  background: #000000;
  padding: 14px 0;
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.navigation {
  display: flex;
  align-items: center;
  font-weight: 500;
  &__logo {
    margin-right: 63px;
  }
  &__list {
    display: flex;
  }
  &__element {
    margin-right: 58px;
    &_active {
      background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
    }
  }
}
.copyright{
    color: #ffffff;
}
@media screen and (max-width: 1440px) {
}

@media screen and (max-width: 1280px) {
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 960px) {
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 576px) {
}

@media screen and (max-width: 420px) {
}

@media screen and (max-width: 375px) {
}

@media screen and (max-width: 320px) {
}
