* {
  box-sizing: border-box;
  text-size-adjust: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
li,
body,
input,
button {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}
ul,
li {
  list-style-type: none;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 26px;
  min-width: 320px;
  position: relative;
  overflow-x: hidden;
  background-color: #fff;
}
input {
  outline: none;
}
button {
  cursor: pointer;
  outline: none;
  background: transparent;
  border: none;
}
.container {
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}

.header {
  background: #000000;
  padding: 14px 0;
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__burger {
    display: none;
  }
  &__navigation {
    display: flex;
    align-items: center;
    font-weight: 500;
  }
  &__logo {
    margin-right: 63px;
    width: 82px;
    height: 52px;
    border-radius: 2px;
    font-weight: 400;
    font-size: 19.0145px;
    line-height: 23px;
    text-align: center;
    color: #ffffff;
    border: 1.18841px solid #ffffff;
    position: relative;

  }
  &__list {
    display: flex;
  }
  &__element {
    margin-right: 58px;
    &_active {
      background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
    }
  }
  &__copyright {
    color: #ffffff;
  }
}

@media screen and (max-width: 1000px) {
  .container {
    padding: 0 30px;
  }
  .header {
    &__element {
      margin-right: 48px;
    }
  }
}

@media screen and (max-width: 790px) {
  .header {
    &__burger {
      display: block;
      position: fixed;
      z-index: 5;
      right: 20px;
    }
    &__list {
      top: 82px;
      display: none;
    }
    &__copyright {
      display: none;
      top: 267px;
    }
    &__element {
      margin: 0 0 15px 0;
    }
  }
  .active-menu {
    display: block;
    position: fixed;
    color: black;
    background: white;
    z-index: 4;
    width: 100vw;
    left: 0;
    padding-left: 10px;
    a {
      color: #333b41;
      font-weight: 400;
    }
  }
  .active-burger {
    svg {
      rect {
        fill: black;
      }
    }
  }
  .active-header {
    background: #ffffff;
  }
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 960px) {
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 576px) {
}

@media screen and (max-width: 420px) {
}

@media screen and (max-width: 375px) {
}

@media screen and (max-width: 320px) {
}
