@import "./mixin.scss";
.testimonials {
  padding: 140px 0 204px 0;
  &__title {
    font-size: 36px;
    line-height: 47px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 47px;
  }
  &__border {
    background: linear-gradient(
        315.75deg,
        rgba(254, 189, 171, 0.74) 30.06%,
        rgba(243, 169, 248, 0.66) 50.74%,
        #e0d8f0 80.49%,
        #eaf7fe 127.9%,
        #eaf7fe 149.54%
      ),
      linear-gradient(
        315.75deg,
        rgba(254, 189, 171, 0.74) 30.06%,
        rgba(243, 169, 248, 0.66) 50.74%,
        #e0d8f0 80.49%,
        #eaf7fe 127.9%,
        #eaf7fe 149.54%
      );
    padding: 2px;
    border-radius: 20px;
  }
  &__slider {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    margin-bottom: 21px;
  }
  &__item {
    width: 264px;
    height: 387px;
    background: #f1f3f2;
    border-radius: 20px;
    padding: 12px 12px 19px 15px;
  }
  &__head {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  &__img {
    margin-right: 9px;
  }
  &__name {
    line-height: 21px;
    color: #000000;
  }
  &__dot {
    background: #bdbdbd;
    width: 3px;
    height: 3px;
    border-radius: 100%;
    margin: 0 9px 0 7px;
  }
  &__info {
    color: #bdbdbd;
    font-weight: 300;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    align-items: center;
  }
  &__text {
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    color: #767474;
    height: 324px;
    overflow: scroll;
  }
  &__text::-webkit-scrollbar {
    width: 0px;
  }
  &__scroll{
    display: flex;
    justify-content: center;
  }
  &__scrollbar {
    width: 599px;
    height: 8px;
    background: #f5f7f6;
    border-radius: 5px;
    display: flex;
    margin-bottom: 31px;
    &_active {
      background: #fe9013;
      border-radius: 5px;
      width: 115.19px;
      height: 6px;
    }
  }
  &__btn {
    @include btn;
    border-radius: 5px;
    padding-left: 0px;
  }
}
