@import "./mixin.scss";
@import "./colors.scss";
.watch-animal {
  background: url(../img/GiantPanda.jpg);
  background-position: center -80px;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 12px 0 100px 0;
  &__container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
  }
  &__btn {
    @include btn;
    margin-right: 99px;
  }
}
.favorite-block {
  max-width: 573px;
  position: relative;
  &__circle {
    background: $btn;
    width: 465px;
    height: 465px;
    border-radius: 100%;
    margin-bottom: 69px;
    margin-right: 108px;
  }
  &__text {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 106.496px;
    text-align: center;
    color: #ffffff;
    line-height: 80px;
    position: absolute;
    top: 74px;
    left: 73px;
    height: auto;
    span {
      color: #ffee2e;
    }
  }
}
@media screen and (max-width: 1599px) {
  .favorite-block {
    max-width: 458px;
    margin-top: -23px;
    margin-right: 55px;
    &__circle {
      width: 367px;
      height: 367px;
      margin-right: 91px;
      margin-bottom: 46px;
    }
    &__text {
      font-size: 85px;
      line-height: 64px;
      width: 400.25px;
      top: 53px;
      left: 58px;
    }
  }
  .watch-animal {
    padding: 12px 0 49px 0;
    &__btn {
      margin-right: 105px;
      padding-left: 0px;
    }
  }
}
@media screen and (max-width: 1200px) {
  .watch-animal {
    background-position: center -80px;
    background-size: 120%;
  }
}
@media screen and (max-width: 999px) {
  .favorite-block {
    max-width: 292px;
    margin: 0;
    &__circle {
      width: 237px;
      height: 237px;
      margin-right: 53px;
    }
    &__text {
      font-size: 54.2894px;
      line-height: 41px;
      top: 37px;
      left: 38px;
      width: 255px;
    }
  }
  .watch-animal {
    padding: 12px 0 45px 0;
    &__btn {
      position: absolute;
      left: 21px;
      bottom: -4px;
    }
  }
}
@media screen and (max-width: 700px){
  .watch-animal {
    background-position: center -33px;
  }
}
@media screen and (max-width: 639px) {
  .favorite-block {
    padding-top: 12px;
    max-width: 146px;
    &__circle {
      width: 119px;
      height: 119px;
      margin-right: 27px;
    }
    &__text {
      font-size: 28px;
      line-height: 21px;
      left: 18px;
      top: 30px;
      width: 128px;
    }
  }
  .watch-animal {
    padding: 12px 0 0 0;
    background-position: center -60px;
    background-size: 100%;
    &__btn {
      left: 50%;
      transform: translate(-50%, 0%);
      margin: 0 auto;
      bottom: -73px;
      padding-left: 3px;
    }
  }
}
@media screen and (max-width: 450px) {
  .watch-animal {
    background-position: center -24px;
    background-size: 120%;
  }
}
@media screen and (max-width: 400px) {
  .watch-animal {
    background-position: center 0px;
    background-size: 120%;
  }
}